h1 {
background-color: #426493;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
h2 {
    color: #414493;
}
h3 {
    color: #454493;
}
h4 {
    color: #474493;
}
body{
    font-family: "Courier New", Courier, monospace;
background-color: #00fe00;
}
